  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            background-image: url(/All\ Images/background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        header {
            text-align: center;
            font-size: 1.2em;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background: linear-gradient(90deg, #57775b, #81C784);
        }

        #loginButton {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 1em;
        }

        #loginButton:hover {
            background-color: #45a049;
        }

        html, body {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        
        main {
            flex: 1; /* This allows main content to grow and pushes footer down */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3px;
            padding: 3px;
        }
        
        footer {
            background-color: #343a40;
            text-align: center;
            padding: 15px;
            width: 100%;
            color: white;
        }
        